/* .navbar {
  background-color: #282323;
} */

body {
 font-family: sans-serif;
}
.navbar a:hover {
    color: gold !important;
}

.intro {
    color: black;
}

.hero {
    margin-top: 100px;
}

footer {
    background-color: #f65282;
    color: white;
}
